<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container w-auto">
    <header class="align-items-center mt-2 mb-2">
        <a th:href="@{/team-generator/}" class="btn btn-info me-5 w-auto">Home</a>
        <a th:href="@{/team-generator/player/add}" class="btn btn-info me-5 w-auto">Add player</a>
        <a th:href="@{/team-generator/player/pick-players}" class="btn btn-info w-auto">Pick players</a>
    </header>

    <table th:each="numberOfTeam : ${#numbers.sequence(1,teams)}" class="table">
        <tr>
            <th scope="row">First name</th>
            <th scope="row">Last name</th>
            <th scope="row">Tier</th>
        </tr>
        <tr th:each="players : ${teamsMap.get(numberOfTeam)}">
            <td th:text="${players.getFirstName()}" />
            <td th:text="${players.getLastName()}" />
            <td th:text="${players.getTier()}" />
        </tr>
        <br><br>
    </table>
</div>
</body>
</html>